In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as ptl
import folium
import webbrowser
import pickle as pk

In [10]:
with open ('t.pkl','rb') as f:
    t=pk.load(f)
f.close()

df = pd.DataFrame(t)
df.head()

,year,month,day,ctry_code,country,region,region,city,latitude,longitude,...,target,group,nperps,crit1,crit2,crit3,target_type,nationality,weapon,casualities
0,1970,7,2,58,Dominican Republic,2,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,...,Julio Guzman,MANO-D,NaN,1,1,1,Private Citizens & Property,Dominican Republic,Unknown,1.0
1,1970,0,0,130,Mexico,1,North America,Mexico city,19.371887,-99.086624,...,"Nadine Chaval, daughter",23rd of September Communist League,7.0,1,1,1,Government (Diplomatic),Belgium,Unknown,0.0
2,1970,1,0,160,Philippines,5,Southeast Asia,Unknown,15.478598,120.599741,...,Employee,Unknown,NaN,1,1,1,Journalists & Media,United States,Unknown,1.0
3,1970,1,0,78,Greece,8,Western Europe,Athens,37.997490,23.762728,...,U.S. Embassy,Unknown,NaN,1,1,1,Government (Diplomatic),United States,Explosives,NaN
4,1970,1,0,101,Japan,4,East Asia,Fukouka,33.580412,130.396361,...,U.S. Consulate,Unknown,NaN,1,1,1,Government (Diplomatic),United States,Incendiary,NaN

In [11]:
df2=df[df.year>=2012]
df3=df[df.year<2012]

In [17]:
dfa12=df2[['country','latitude','longitude']]
dfb12=df3[['country','latitude','longitude']]

In [18]:
dfa12=dfa12.dropna()
dfb12=dfb12.dropna()

              country   latitude   longitude
0  Dominican Republic  18.456792  -69.951164
1              Mexico  19.371887  -99.086624
2         Philippines  15.478598  120.599741
3              Greece  37.997490   23.762728
4               Japan  33.580412  130.396361

In [15]:
dfw = df[['country','latitude','longitude']]
dfw=dfw.dropna()

In [27]:
latitude = -14.6048
longitude = -59.0625
m = folium.Map(location=[latitude, longitude], zoom_start=2)

for lat,lon in zip(dfw['latitude'],dfw['longitude']):
     folium.CircleMarker([lat, lon],
                            
                            radius=0.001,
                            
                            fill=True,
                            fill_opacity=0.7,
                            fill_color='r',
                           ).add_to(m)
m.save('worldplot.html')

In [25]:
m1 = folium.Map(location=[latitude, longitude], zoom_start=2)

for lat,lon in zip(dfb12['latitude'],dfb12['longitude']):
     folium.CircleMarker([lat, lon],
                            
                            radius=0.001,
                            
                            fill=True,
                            fill_opacity=0.7,
                            fill_color='r',
                           ).add_to(m1)
m1.save('before2012.html')

In [26]:
m2 = folium.Map(location=[latitude, longitude], zoom_start=2)
for lat,lon in zip(dfa12['latitude'],dfa12['longitude']):
     folium.CircleMarker([lat, lon],
                            
                            radius=0.001,
                            
                            fill=True,
                            fill_opacity=0.7,
                            fill_color='r',
                           ).add_to(m2)
m2.save('after2012.html')